@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
 .imageBack{
  background-image:url('./images/travelMan.png');
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-opacity:0.4;
  overflow-x:hidden;
  /* background-color:rgba(0,0,0,0.5); */
 }
 ::-webkit-scrollbar{
  display:none;
 }
 .OverFlow{
  overflow-x:scroll;
 }
 html{
  scroll-behavior:smooth;
 }
 .GRID{
  display:grid;
  grid-template-colums:repeat(2,16%);
  grid-template-rows:repeat(3,22vh);
  grid-template-areas:"image1 image2"
  "image1 image3"
  "image1 image4";
  grid-gap:8px;
 }
 .gridDivs>img{
 border-radius:4px;
 }
 .gridDivs:nth-child(1){
   grid-area:image1;
 }
 .gridDivs:nth-child(2){
   grid-area:image2;
 }
 .gridDivs:nth-child(3){
   grid-area:image3;
 }
 .gridDivs:nth-child(4){
   grid-area:image4;
 }
 .gallery1{
 display:grid;
 margin:auto;
 grid-template-columns:repeat(2,40.5vw);
 grid-template-rows:repeat(1,45vh);
 grid-gap:6px;
 }
 .gallery2{
 display:grid;
 margin:auto;
 grid-template-columns:repeat(3,27vw);
 grid-template-rows:repeat(1,30vh);
 grid-gap:6px;
 margin-top:4px;
 }
}