@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  *{
    margin:0;
    padding:0;
  }
 .imageBack{
  background-image:url('./images/travelMan.png');
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
  overflow-x:hidden;
 }
 ::-webkit-scrollbar{
  display:none;
 }
 .OverFlow{
  overflow-x:scroll;
 }
 html{
  scroll-behavior:smooth;
 }
 .GRID{
  display:grid;
  grid-template-colums:repeat(2,16%);
  grid-template-rows:repeat(3,22vh);
  grid-template-areas:"image1 image2"
  "image1 image3"
  "image1 image4";
  grid-gap:8px;
 }
 .gridDivs>img{
 border-radius:4px;
 }
 .gridDivs:nth-child(1){
   grid-area:image1;
 }
 .gridDivs:nth-child(2){
   grid-area:image2;
 }
 .gridDivs:nth-child(3){
   grid-area:image3;
 }
 .gridDivs:nth-child(4){
   grid-area:image4;
 }
 .gallery1{
 display:grid;
 margin:auto;
 grid-template-columns:repeat(2,40.5vw);
 grid-template-rows:repeat(1,45vh);
 grid-gap:6px;
 }
 .gallery2{
 display:grid;
 margin:auto;
 grid-template-columns:repeat(3,27vw);
 grid-template-rows:repeat(1,30vh);
 grid-gap:6px;
 margin-top:4px;
 }
 @media screen and (max-width:960px){
  #nav{
    display:none;
  }
  .imageBack{
    font-size:0.6em;
    height:fit-content;
    border:3px solid yellow;
  }
  .textOpacity{
    height:12em;
    margin-top:2em;
    margin-bottom:0;
  }
  .textOpacity>p{
    font-size:2.4em;
    margin-top:3rem;
  }
  .whiteDiv{
    margin-top:7rem;
    width:90%;
    font-size:0.8em;
    margin-bottom:4em;
  }
  .whiteDiv h3{
    font-size:1.2em;
  }
  #travelText{
    font-size:1.2em;
    margin-top:.7em;
    color:blue;
    line-height:1.3;
    display: inline-block;  
  }
 .whiteDiv .icon{
  font-size:2em;
  color:#000000;
  }
  #headerHeading{
    font-size:1.2em;
  }
  .nextAndBack{
    width:20%;
  }
  #link{
    display:inline-block;
    width:120%;
    font-size:.6em;
  }
  .info{
    width:30%;
  }
  .lastImageDiv{
    height:45vh;
    min-height:fit-content;
  }
  .TextDiv>h1{
    font-size:1.2em;
    line-height:1.2;
  }
  .ImageDiv>img{
    object-fit:cover;
  }
 }
}